<ul class="nav justify-content-end bg-dark py-2">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/product/10">Product page</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mahasiswa/irfan/?npm=2113191069">Mahasiswa page</a>
    </li>
</ul>